<div>
    <div class="slider-container">
        <div class="slider">
            <img src="../../Static/photo/london.jpg" alt="Лондон">
            <img src="../../Static/photo/ny.jpg" alt="ага">
            <img src="../../Static/photo/spb.jpg" alt="Санкт Петербург">

        </div>
        <button class="prev-button" aria-label="Посмотреть предыдущий слайд">&lt;</button>
        <button class="next-button" aria-label="Посмотреть следующий слайд">&gt;</button>
    </div>


    <script src="../../Static/JS/slider.js"></script>
</div>
